/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 17 Jun, 2016, 6:28:31 AM
    Author     : comp
*/

body {
    background-color : #DCDCDC;
    margin-top: 10px;
    padding: 0;
}
form p input {
    /*display:block;*/
    float:right;
    width:200px;
    margin: 0 auto;

}
form p{
    width:400px;

}
button {
    background-color: #337ab7; /* Green */
    border: none;
    color: white;
    padding: 5px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    cursor: pointer;

}


table#t01 {
    width:100%;
    /*table-layout: fixed;*/
}
table#t01 table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}
table#t01 th, td {
    padding: 5px;
    text-align: left;
}
table#t01 tr:nth-child(even) {
    background-color: #eee;
}
table#t01 tr:nth-child(odd) {
   background-color:#fff;
}

/*table#t01 td {
   width: 200px;
   overflow: visible;
}*/
table#t01 th	{
    background-color: black;
    color: white;
    text-align: center;
}

.form-center {
    text-align: center;
}

.cursor-pointer {
    cursor:pointer;
}

.div-align-center {
    text-align: center;
}


.text-margin-10px {
    margin-left: 10px;
}

.div-width-100p {
    width: 100%;
}

.div-float-left {
    margin-left: 20px;
    display: inline-block;
    float:left;
    font-size: 18px;
}

.div-float-right {
    margin-right: 20px;
    display: inline-block;
}

.progressCirculardemoBasicUsage body {
  padding: 20px; }
.progressCirculardemoBasicUsage h4 {
  margin: 10px 0; }
.progressCirculardemoBasicUsage md-progress-circular {
  margin-bottom: 20px; }
.progressCirculardemoBasicUsage #loaders > md-switch {
  margin: 0;
  margin-left: 10px;
  margin-top: -10px; }
.progressCirculardemoBasicUsage #loaders > h5 {
  margin-top: 0; }
.progressCirculardemoBasicUsage #loaders > p {
  margin-right: 20px;
  margin-bottom: 24px; }
.progressCirculardemoBasicUsage p.small {
  font-size: 0.8em;
  margin-top: -18px; }
.progressCirculardemoBasicUsage hr {
  width: 100%;
  margin-top: 20px;
  border-color: rgba(221, 221, 177, 0.1); }
.progressCirculardemoBasicUsage p.small > code {
  font-size: 0.8em; }
.progressCirculardemoBasicUsage .visible {
  border-color: rgba(221, 221, 177, 0); }
