/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 17 Jun, 2016, 6:28:31 AM
    Author     : comp
*/

body {
    background-color : #DCDCDC;
    margin-top: 10px;
    padding: 0;
}
form p input {
    /*display:block;*/
    float:right;
    width:200px;
    margin: 0 auto;

}
form p{
    width:400px;

}
button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;

}


table {
    width:100%;
    /*table-layout: fixed;*/
}
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}
th, td {
    padding: 5px;
    text-align: left;
}
table#t01 tr:nth-child(even) {
    background-color: #eee;
}
table#t01 tr:nth-child(odd) {
   background-color:#fff;
}

/*table#t01 td {
   width: 200px;
   overflow: visible;
}*/
table#t01 th	{
    background-color: black;
    color: white;
    text-align: center;
}

.cursor-pointer {
    cursor:pointer;
}

.div-align-center {
    text-align: center;
}