
<div style="width:100%;" class="header">
  <ul >
    <li class="dropdown1">
      <a class="dropbtn1">Registration</a>
      <div class="dropdown-content1">
        <a href="#todayR">Today</a>
        <a href="#totalR">Total</a>
        <a href="#tempUser">Temp User</a>
        <a href="#devices">device</a>
        <a href="#lastActive">Last Active</a>
        <a href="#lastDayActiveUser">Lastday Active User</a>
        <a href="#AllUserProfileLocation">User Locations</a>
        <a href="#AllUserIPAddress">User IP</a>
      </div>
    </li>
    <li class="dropdown1">
      <a class="dropbtn1">Question</a>
      <div class="dropdown-content1">
<!--        <a href="#maths">Maths</a>
        <a href="#science">Science</a>
        <a href="#english">English</a>-->
        <a href="#sessionDetails">Session Details</a>
        <a href="#repeatUserSessions">Repeat User</a>
        <a href="#getStartedSessions">Started Sessions</a>
        <a href="#getRequestedSessions">Requested Sessions</a>
        <a href="#getRatingLT2">Rating LT2</a>
        <a href="#getRatingGT4">Rating GT4</a>
      </div>
    </li>
    <li class="dropdown1">
      <a class="dropbtn1">Product</a>
      <div class="dropdown-content1">
        <a href="#showAward">Show Award</a>
        <a href="#showPromo">Show Promo</a>
        <a href="#showShop">Show Shop</a>
        <a href="#showVoucher">Show Voucher</a>
        <a href="#showPurchase">Purchases Users</a>
        <a href="#showReferralCode">Referral Code Users</a>
      </div>
    </li>
    <li class="dropdown1">
    <a class="dropbtn1">Educator</a>
    <div class="dropdown-content1">
      <a href="#showEducator">Show</a>
      <a href="#showLookers">Show Lookers</a>
      <a href="#showWeights">Show Weights</a>
      <a href="#setSleepTime">Sleep Time</a>
      <a href="#showRating">Rating</a>
    </div>
    </li>
    <li class="dropdown1">
    <a class="dropbtn1">Student</a>
    <div class="dropdown-content1">
      <a href="#addCreditStudent">Add Credit</a>
      <a href="#deleteStudent">Delete</a>
      <a href="#getStudentProfile">Search Student</a>
      <a href="#referralUser">Referral User</a>
      <a href="#upgradeUser">Upgrade User</a>
      <a href="#getRegisteredUser">User Credits</a>
      <a href="#sendEmailToAdmin">Get Email</a>
      <a href="#AddCredits">Add Credits</a>
    </div>
    </li>
    <li class="dropdown1">
      <a class="dropbtn1">Partners</a>
      <div class="dropdown-content1">
        <a href="#registerCP">CP Register</a>
        <a href="#showCP">Show CP</a> 
        <a href="#showPartnerAdmin">Show Partner</a>
        <a href="#showAppCredentials">Show apps</a>
      </div>
    </li>
    <li class="dropdown1">
      <a class="dropbtn1">Graph</a>
      <div class="dropdown-content1">
        <a href="#registrationGraph">Registration</a>
      </div>
    </li>
  </ul>
</div>
