<html>
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="css/allCSS.css">
    </head>
    <body>
        <!--<div ng-include = "'views/profile/profile.view.html'"></div><br>-->
        <div ng-controller="ShowStudentProfileCtrl">
          <table align="center" >
                <tr>
                    <td>Fullname</td>
                    <td>{{ fullname }}</td>
                </tr>
                <tr>
                    <td>Gender</td>
                    <td>{{ gender }}</td>
                </tr>
                <tr>
                    <td>Code</td>
                    <td>{{ code }}</td>
                </tr>
                <tr>
                    <td>Institute</td>
                    <td>{{ institute }}</td>
                </tr>
                <tr>
                    <td>Date Of Birth</td>
                    <td>{{ dob }}</td>
                </tr>
                <tr>
                    <td>Qualification</td>
                    <td>{{ qualification }}</td>
                </tr>
                
                <tr>
                    <td>Roles</td>
                    <td>{{ roles }}</td>
                </tr>
                <tr>
                    <td>Onboard</td>
                    <td>{{ onboard }}</td>
                </tr>
                <tr>
                    <td>Address</td>
                    <td>{{ address }}</td>
                </tr>
                <tr>
                    <td>Headline</td>
                    <td>{{ headline }}</td>
                </tr>
                <tr>
                    <td>Modified on</td>
                    <td>{{ modifiedon }}</td>
                </tr>
                <tr>
                    <td>Created on</td>
                    <td>{{ createdon }}</td>
                </tr>
                <tr>
                    <td>location</td>
                    <td>{{ location }}</td>
                </tr>
            </table>
        </div><br>
        <div align="center">
            <a href="#showCP">Back</a>
            <button ng-click="updateCPProfile()">Update Profile</button>
            <button ng-click="createVoucher()">Create Voucher</button>
        </div>
    </body>
</html> 