<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>Sessions</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
         
    </head>
    <body>
        <div ng-include = "'views/profile/profile.view.html'"></div><br>
        <div><p> Total session = {{  sessionCount }} </p></div> <br />
        <div>
            <table id="t01">
                <tr>
                    <th>Student ID</th>
                    <th>Start Time</th>
                    <th>Session status</th>
                    <th>Session Type</th>
                    <th>Educator ID</th>
                    <th>Session ID</th>
                    <th>Question ID</th>
                </tr>
                <tr ng-repeat=" session in  sessions ">
                    <td ng-click="getProfiles(session.studentid)">{{ session.studentid}} </td>
                    <td>{{ session.created}} </td>
                    <td>{{ session.status}} </td>
                    <td>{{ session.type}} </td>
                    <td>{{ session.educatorid}} </td>
                    <td>{{ session.sessionid}} </td>
                    <td>{{ session.questionid}} </td>
                </tr>
            </table>
        </div><br>
        <ul ng-if=" pager.pages.length" class="pagination">
            <li ng-class="{disabled:pager.currentPage === 1}">
                <a ng-click=" setPage(1)">First</a>
            </li>
            <li ng-class="{disabled:pager.currentPage === 1}">
                <a ng-click="setPage(pager.currentPage - 1)">Previous</a>
            </li>
            <li ng-repeat="page in  pager.pages" ng-class="{active: pager.currentPage === page}">
                <a ng-click=" setPage(page)">{{page}}</a>
            </li>                
            <li ng-class="{disabled: pager.currentPage ===  pager.totalPages}">
                <a ng-click=" setPage( pager.currentPage + 1)">Next</a>
            </li>
            <li ng-class="{disabled: pager.currentPage ===  pager.totalPages}">
                <a ng-click=" setPage( pager.totalPages)">Last</a>
            </li>
        </ul>
    </body>
</html>
