<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>Add Educator</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <style type="text/css">            
            label {
              width:100px;
              display: inline-block;
            }
body {
    background-color : #DCDCDC;
    margin-top: 10px;
    padding: 0;
}
        </style>
        <!--<link rel="stylesheet" type="text/css" href="css/allCSS.css">-->
    </head>
    <body>
        <div ng-include = "'views/profile/profile.view.html'"></div><br>
        
        <div ng-init="showMessage = false"><p ng-if="showMessage">{{message}}</p></div><br>
        <div>
            <form name="update" ng-submit="updateEducator()" ng-hide="hideform" role="update" novalidate>
                <div ng-class="{ 'has-error': !update.email.$pristine && update.email.$error.required }">
                    
                        <label>Email        : </label>
                        <input type="text" name="email" ng-model="updateE.email" readonly required>
                    
                    <div ng-messages="update.email.$error" ng-if="!update.email.$pristine && update.email.$error.required && update.email.$invalid">
                        <div ng-messages-include="error/error.html"></div>
                    </div> 
                </div><br>
                <div ng-class="{ 'has-error': !update.appid.$pristine && update.appid.$error.required }">                    
                    <label>AppID        : </label>
                    <input type="text" name="appid" ng-model="updateE.appid" required>
                    <div ng-messages="update.appid.$error" ng-if="!update.appid.$pristine && update.appid.$error.required && update.appid.$invalid">
                        <div ng-messages-include="error/error.html"></div>
                    </div> 
                </div><br>
                <div ng-class="{ 'has-error': !update.headline.$pristine}">
                    <label>Headline     : </label>
                    <textarea type="text" name="headline" ng-model="updateE.headline" required></textarea>
                </div><br>
                <div>
                    
                        <label>Internal     : </label>
                        <input type="radio" ng-model="updateE.internal" value="true"> true &nbsp;&nbsp;&nbsp;
                        <input type="radio" ng-model="updateE.internal"  value="false"> false                   
                    
                </div><br>
                <div>
                    
                        <label>Roles        : </label>
                        <input type="checkbox" ng-model="updateE.educator" value="educator"> Educator  
                        <input type="checkbox" ng-model="updateE.educatorV1" value="educatorV1"> EducatorV1  
                        <input type="checkbox" ng-model="updateE.channelpartner" value="ChannelPartner"> ChannelPartner  
                </div><br>
                <div>
                    
                        <label>Skills       : </label>
                        <input type="checkbox" ng-model="updateE.c6" value="c6"> c6
                        <input type="checkbox" ng-model="updateE.c7" value="c7"> c7
                        <input type="checkbox" ng-model="updateE.c8" value="c8"> c8
                        <input type="checkbox" ng-model="updateE.c9" value="c9"> c9
                        <input type="checkbox" ng-model="updateE.c10" value="c10"> c10
                        <input type="checkbox" ng-model="updateE.c11" value="c11"> c11
                        <input type="checkbox" ng-model="updateE.c12" value="c12"> c12
                        <input type="checkbox" ng-model="updateE.maths" value="maths"> Maths
                        <input type="checkbox" ng-model="updateE.science" value="science"> Science
                        <input type="checkbox" ng-model="updateE.english" value="english"> English
                            
                    </
                </div>><br>
                <div>
                    <p>
                        <button type="submit" ng-disabled="update.$invalid">Submit</button>
                    </p>
                </div>
            </form>    
        </div>
    </body>
</html>
