<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <style>
            label {
              width:200px;
              display: inline-block;
            }
            p {
                margin-left: 20px;
            }
            button {
                margin-left: 100px;
            }
        </style>
        <link rel="stylesheet" type="text/css" href="css/dateTimePicker.css">
    </head>
    
    <body align="center">
        <div ng-include = "'views/profile/profile.view.html'"></div><br>
        <div ng-controller="SetSleepTimeCtrl">
            <form name="sleep" ng-submit="sleepEducator()" ng-show="showField" role="sleep" novalidate>
                <div ng-class="{ 'has-error': !sleep.sleeptime.$pristine && sleep.sleeptime.$error.required }">
                    <p>
                        <label>Sleep Time : </label>
                        <input name="sleeptime" ng-model="sleeptime" datetime-picker date-format="yyyy-MM-ddTHH:mm:ss.000Z" ng-model="year" ng-model="month"  ng-model="day" required />
                    </p>
                    <div ng-messages="sleep.sleeptime.$error" ng-if="sleep.sleeptime.$invalid && !sleep.sleeptime.$pristine && sleep.sleeptime.$error.required">
                        <div ng-messages-include="error/error.html"></div>
                    </div> 
                </div>
                <div ng-class="{ 'has-error': !sleep.wakeuptime.$pristine && sleep.wakeuptime.$error.required }">
                    <p>
                        <label>WakeUp Time : </label>
                        <input type = "text" name="wakeuptime" ng-model="wakeuptime" datetime-picker date-format="yyyy-MM-ddTHH:mm:ss.000Z" ng-model="year" ng-model="month"  ng-model="day" required />
                    </p>
                    <div ng-messages="sleep.wakeuptime.$error" ng-if="sleep.wakeuptime.$invalid && !sleep.wakeuptime.$pristine && sleep.wakeuptime.$error.required">
                        <div ng-messages-include="error/error.html"></div>
                    </div>
                </div>
                <div>
                    <p>
                        <button type="submit" ng-disabled="sleep.$invalid">Submit</button>
                    </p>
                
                </div>
            </form>
        </div><br>
        <div ng-controller="ShowServiceTimeCtrl">
            <table id="t01">
                <tr>
                    <th>SleepTime</th>
                    <th>WakeUpTime</th>
                </tr>
                <tr ng-repeat=" service in services ">
                    <td >{{ service.sleeptime }}</td>
                    <td >{{ service.wakeuptime }}</td>
                </tr>
            </table> 
        </div>
        
    </body>
</html>
