<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>Lookers</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="css/allCSS.css">
    </head>
    <body>
        <div ng-include = "'views/profile/profile.view.html'"></div><br>
        <div>
            <table id="t01">
                <tr>
                    <th>user ID</th>
                    <th>Internal</th>
                    <th>Status</th>
                    <th>Start Time</th>
                    <th>End Time</th>
                    <th>Topics</th>
                </tr>
                <tr ng-repeat=" looker in lookers ">
                    <td >{{ looker.userid }}</td>
                    <td >{{ looker.internal }}</td>
                    <td >{{ looker.status }}</td>
                    <td >{{ looker.starttime }}</td>
                    <td >{{ looker.endtime }}</td>
                    <td >{{ looker.topics }}</td>

<!--                    <td>
                        <button type="button" ng-click="showProfile()">showProfile</button>
                        <button type="button" ng-click="hideProfile()">hideProfile</button>
                    </td>-->
                </tr>
            </table> 
        </div>
    </body>
</html>