<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>Add Educator</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
         <style type="text/css">
            body {
                background-color : #ffeeff;
                margin: 0;
                padding: 0;
            }
            form p label {
                display:block;
                float:left;
                width:200px;
                margin: 0 auto;
            }
        </style>
    </head>
    <body>
        <div ng-include = "'profiles/profile.view.html'"></div><br>
        <div>{{ message }}</div>
        
        <div>
            <form name="update" ng-submit="addCredits()" role="update" ng-hide="hideform" novalidate>
                <div ng-class="{ 'has-error': update.email.$touched && update.email.$invalid }">
                    <p>
                        <label>Email : </label>
                        <input type="text" name="email" ng-model="email" required>
                    </p>
                    <div ng-messages="update.email.$error" ng-if="update.email.$touched">
                        <span ng-show="update.email.$dirty && update.email.$error.required" class="help-block">Email is required</span>
                    </div>  
                </div>
                <div>
                    <p>
                        <label>AppID : </label>
                        <input type="text" name="appid" ng-model="appid" required>
                    </p>
                    <div ng-messages="update.appid.$error" ng-if="update.appid.$touched">
                        <span ng-show="update.appid.$dirty && update.appid.$error.required" class="help-block">App Id is required</span>
                    </div> 
                </div>
                
                <div>
                    <p>
                        <button type="submit" ng-disabled="update.$invalid && update.$dirty">Submit</button>
                    </p>
                </div>
            </form>    
        </div>
    </body>
</html>
