<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>Add Educator</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
         <style type="text/css">
            body {
                background-color : #ffeeff;
                margin: 0;
                padding: 0;
            }
            form p label {
                display:block;
                float:left;
                width:200px;
                margin: 0 auto;
            }
        </style>
    </head>
    <body>
        <div ng-include = "'views/profile/profile.view.html'"></div><br>
        
        <div>
            <form name="student" ng-submit="addCredits()" role="student" ng-hide="hideform" novalidate>
                <div ng-class="{ 'has-error': !student.email.$pristine && student.email.$error.required }">
                    <p>
                        <label>Email : </label>
                        <input type="text" name="email" ng-model="st.email" required>
                    </p>
                    <div ng-messages="student.email.$error" ng-if="!student.email.$pristine && student.email.$error.required && student.email.$invalid">
                        <div ng-messages-include="error/error.html"></div>
                    </div>   
                </div>
                <div ng-class="{ 'has-error': !student.appid.$pristine && student.appid.$error.required }">
                    <p>
                        <label>AppID : </label>
                        <input type="text" name="appid" ng-model="st.appid" required>
                    </p>
                    <div ng-messages="student.appid.$error" ng-if="!student.appid.$pristine && student.appid.$error.required && student.email.$invalid">
                        <div ng-messages-include="error/error.html"></div>
                    </div>
                </div>
                
                <div>
                    <p>
                        <button type="submit" ng-disabled="student.$invalid">Submit</button>
                    </p>
                </div>
            </form>    
        </div>
    </body>
</html>
