<html>
  <head>
    <title>Find Student by email or fullname</title>
  </head>
  <body>
    <div ng-include = "'views/profile/profile.view.html'"></div><br>


    <div align="center">
      <form name="student" ng-submit="getUserProfile()" role="student" novalidate>
        <div ng-class="{ 'has-error': !student.email.$pristine}">
          <p>
              <label>Email : </label>
              <input type="text" name="email" ng-model="st.email" required>
          </p>
          <div ng-messages="student.email.$error" ng-if="!student.email.$pristine">
              <div ng-messages-include="error/error.html"></div>
          </div> 
        </div>
        <p>OR</p>
        <div ng-class="{ 'has-error': !student.fullname.$pristine}">
          <p>
              <label>Fullname : </label>
              <input type="text" name="fullname" ng-model="st.fullname" required>
          </p>
          <div ng-messages="student.fullname.$error" ng-if="!student.fullname.$pristine">
              <div ng-messages-include="error/error.html"></div>
          </div> 
        </div>
        <div>
          <p>
              <button type="submit">Submit</button>
          </p>
        </div>
      </form>    
    </div>
    <div ng-hide="hideform">
      <table id="t01" class="table">
        <tr>
          <th>user ID</th>
          <th ng-click="sortType = 'fullname'; sortReverse = !sortReverse">
            <span class="cursor-pointer">Full Name</span>
          </th>
          <th ng-click="sortType = 'email'; sortReverse = !sortReverse" class="cursor-pointer">
            <span class="cursor-pointer">Email</span>
          </th>
          <th>App Id</th>
          <th>Role</th>
          <th>On Board</th>
          <th ng-click="sortType = 'created'; sortReverse = !sortReverse" class="cursor-pointer">
            <span class="cursor-pointer">Created</span>
          </th>
          <th ng-click="sortType = 'lastactive'; sortReverse = !sortReverse" class="cursor-pointer">
            <span class="cursor-pointer">Last Active</span>
          </th>
        </tr>
      
        <tr ng-repeat=" user in users | orderBy:sortType:sortReverse">
            <td ng-click="getProfiles(user._id, user.roles)" class="cursor-pointer">{{ user._id }} </td>
            <td>{{ user.fullname }}</td>
            <td>{{ user.email }}</td>
            <td>{{ user.appid }}</td>
            <td>{{ user.roles }}</td>
            <td>{{ user.onboard }}</td>
            <td>{{ user.created | utcToLocal:'dd.MM.yy - hh.mm a'}}</td>
            <td>{{ user.lastactive | utcToLocal:'dd.MM.yy - hh.mm a'}}</td>
        </tr>
    </table>
    </div><br>
    <div ng-if="showProfile" ng-hide="hideProfile">
      <div >
        <div ng-include="'views/profile/profile.showProfile.student.view.html'">
        </div>
      </div>
     </div>
  </body>
</html>
