<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>Device information</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
         
    </head>
    <body>
        <div ng-include = "'views/profile/profile.view.html'"></div><br>
        <div>Total Device {{ count }} </div>
        <div style="width: 100%">
            <table id="t01">
                <tr>
                    <th>user ID</th>
                    <th>Device Type</th>
                    <th>Device Model</th>
                    <th>OS Version</th>
                    <th>App Major Version</th>
                    <th>App Minor Version</th>
                    <th>Status</th>
                    <th>Operator Name</th>
                    <th>created</th>
                    <th>Pushtoken</th>
                </tr>
                <tr ng-repeat=" device in devices ">
                    <td ng-click="getProfiles(device.userid)">{{ device.userid }} </a></td>
                    <td>{{ device.devicetype }}</td>
                    <td>{{ device.devicemodel }}</td>
                    <td>{{ device.osversion }}</td>
                    <td>{{ device.appmajorversion }}</td>
                    <td>{{ device.appminorversion }}</td>
                    <td>{{ device.status }}</td>
                    <td>{{ device.operatorname }}</td>
                    <td>{{ device.created }}</td>
                    <td>{{ device.pushtoken }}</td>
                </tr>
            </table>
        </div><br>
        <ul ng-if=" pager.pages.length" class="pagination">
            <li ng-class="{disabled:pager.currentPage === 1}">
                <a ng-click=" setPage(1)">First</a>
            </li>
            <li ng-class="{disabled:pager.currentPage === 1}">
                <a ng-click="setPage(pager.currentPage - 1)">Previous</a>
            </li>
            <li ng-repeat="page in  pager.pages" ng-class="{active: pager.currentPage === page}">
                <a ng-click=" setPage(page)">{{page}}</a>
            </li>                
            <li ng-class="{disabled: pager.currentPage ===  pager.totalPages}">
                <a ng-click=" setPage( pager.currentPage + 1)">Next</a>
            </li>
            <li ng-class="{disabled: pager.currentPage ===  pager.totalPages}">
                <a ng-click=" setPage( pager.totalPages)">Last</a>
            </li>
        </ul>
    </body>
</html>
