<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>Temp User</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
         
    </head>
    <body>
        <div ng-include = "'views/profile/profile.view.html'"></div><br>
        <div>Total users in temp = {{ count }}</div> <br />
        <div>
            <table id="t01">
                <tr>
                    <th>Full Name</th>
                    <th>Email</th>
                    <th>code</th>
                    <th>App ID</th>
                    <th>Role</th>
                    <th>On Board</th>
                </tr>
                <tr ng-repeat=" user in users ">
                    <td>{{ user.fullname }}</td>
                    <td>{{ user.email }}</td>
                    <td>{{ user.usercode }}</td>
                    <td>{{ user.appid }}</td>
                    <td>{{ user.roles }}</td>
                    <td>{{ user.onboard }}</td>
                </tr>
            </table>  
        </div>
        <ul ng-if=" pager.pages.length" class="pagination">
            <li ng-class="{disabled:pager.currentPage === 1}">
                <a ng-click=" setPage(1)">First</a>
            </li>
            <li ng-class="{disabled:pager.currentPage === 1}">
                <a ng-click="setPage(pager.currentPage - 1)">Previous</a>
            </li>
            <li ng-repeat="page in  pager.pages" ng-class="{active: pager.currentPage === page}">
                <a ng-click=" setPage(page)">{{page}}</a>
            </li>                
            <li ng-class="{disabled: pager.currentPage ===  pager.totalPages}">
                <a ng-click=" setPage( pager.currentPage + 1)">Next</a>
            </li>
            <li ng-class="{disabled: pager.currentPage ===  pager.totalPages}">
                <a ng-click=" setPage( pager.totalPages)">Last</a>
            </li>
        </ul>
    </body>
</html>
