<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8">
        <title>Add Partner</title>
    </head>
    <body>
        <div ng-include = "'views/profile/profile.view.html'"></div><br>
        <div align="center">
            <form name="appcredential" ng-submit="addAppCredential()" novalidate>
                <div ng-class="{ 'has-error': appcredential.appid.$touched && appcredential.appid.$invalid }">
                    <p>
                        <label>App ID : </label>
                        <input type="text" name="appid" ng-model="apps.appid" required>
                    </p>
                    <div ng-messages="appcredential.appid.$error" ng-if="appcredential.appid.$touched">
                        <div ng-messages-include="error/error.html"></div>
                    </div> 
                </div>
                <div ng-class="{ 'has-error': appcredential.description.$touched && appcredential.description.$invalid }">
                    <p>
                        <label>Description : </label>
                        <input type="text" name="description" ng-model="apps.description" required>
                    </p>
                    <div ng-messages="appcredential.description.$error" ng-if="appcredential.description.$touched">
                        <div ng-messages-include="error/error.html"></div>
                    </div> 
                </div>
                <div>
                    <p style="align-content: center">
                        <button type="submit" ng-disabled="appcredential.$invalid && appcredential.$dirty">Submit</button>
                    </p>
                </div>
            </form>
        </div>
    </body>
</html>