<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8">
        <title>Register CP</title>
  
        <link rel="stylesheet" type="text/css" href="css/allCSS.css">
    </head>
    <body style="width:100%" align="center">
        <div ng-include = "'views/profile/profile.view.html'"></div><br>
        <div align="center">
            <form name="register" ng-submit="registerAP()" role="register" novalidate>
                <div ng-class="{ 'has-error': !register.email.$pristine && register.email.$error.required}">
                    <p>
                        <label>Email : </label>
                        <input type="text" name="email" ng-model="ap.email" required>
                    </p>
                    <div ng-messages="register.email.$error" ng-if="register.email.$invalid && !register.email.$pristine  && register.email.$error.required">
                        <div ng-messages-include="error/error.html"></div>
                    </div>
                </div>
                
                <div ng-class="{ 'has-error': !register.fullname.$pristine && register.fullname.$error.required }">
                    <p>
                        <label>Full name : </label>
                        <input type="text" name="fullname" ng-model="ap.fullname" required>
                    </p>
                    <div ng-messages="register.fullname.$error" ng-if="register.fullname.$invalid && !register.fullname.$pristine && register.fullname.$error.required">
                        <div ng-messages-include="error/error.html"></div>
                    </div>
                </div>
                <div ng-class="{ 'has-error': !register.appid.$pristine && register.appid.$error.required }">
                    <p>
                        <label>AppId : </label>
                        <input type="text" name="appid" ng-model="ap.appid" required>
                    </p>
                    <div ng-messages="register.appid.$error" ng-if="register.appid.$invalid && !register.appid.$pristine && register.appid.$error.required">
                        <div ng-messages-include="error/error.html"></div>
                    </div>
                </div>
                <div ng-class="{ 'has-error': !register.password.$pristine && register.password.$error.required }">
                    <p>
                        <label>Password : </label>
                        <input type="text" name="password" ng-model="ap.password" required>
                    </p>
                    <div ng-messages="register.password.$error" ng-if="register.password.$invalid && !register.password.$pristine && register.password.$error.required">
                        <div ng-messages-include="error/error.html"></div>
                    </div>
                </div>
                <div>
                    <p style="align-content: center">
                        <button type="submit" ng-disabled="register.$invalid">Submit</button>
                    </p>
                </div>
            </form>
        </div>
    </body>
</html>