<!DOCTYPE html>
<html>
    <head>
        <title>Show all Partner</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="css/allCSS.css">
    </head>
    <body>
        <div ng-include = "'views/profile/profile.view.html'"></div><br>
        <div>
            <p style="align-content: center">
                <button type="submit" ng-click="addPartnerAdmin()">Add Admin</button>
            </p>
        </div><br>
        <div>Total Partner Admin= {{ count }}</div><br>
        <div ng-show="showTable">
            <table id="t01" id="t02">
                <tr>
                    <th>user ID</th>
                    <th>Full Name</th>
                    <th>Email</th>
                    <th>App Id</th>
                    <th>Role</th>
                    <th>On Board</th>
                    <th>created</th>
                    <th>Action</th>
                </tr>
                <tr ng-repeat=" user in users ">
                    <td id="t02">{{ user._id }} </td>
                    <td id="t02">{{ user.fullname }}</td>
                    <td id="t02">{{ user.email }}</td>
                    <td id="t02">{{ user.appid }}</td>
                    <td id="t02">{{ user.roles }}</td>
                    <td id="t02">{{ user.onboard }}</td>
                    <td id="t02">{{ user.created }}</td>
                    <td><button type="submit" ng-click="deletePartnerAdmin(app.application_id, app.secret_id)">de</button></td>
                </tr>
            </table>
        </div>
    </body>
</html>
