<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8">
        <title>Add Voucher product</title>
  
        <link rel="stylesheet" type="text/css" href="css/allCSS.css">
    </head>
    <body>
        <div ng-include = "'views/profile/profile.view.html'"></div><br>
        <div align="center">
            <p style="font-size: 30px; width: 400px"><b><u>Create Voucher For {{institute}}</u></b</p>
            <form name="product" ng-submit="addVoucherProduct()" ng-hide="hideform" role="addVoucher" novalidate>
                <div ng-class="{ 'has-error': !product.pi.$pristine && product.pi.$error.required }">
                    <p>
                        <label>Product Identifier : </label>
                        <input type="text" name="pi" ng-model="voucher.pi" required>
                    </p>
                    <div ng-messages="product.pi.$error" ng-if="!product.pi.$pristine && product.pi.$error.required && product.pi.$invalid">
                        <div ng-messages-include="error/error.html"></div>
                    </div> 
                </div>
                <div ng-class="{ 'has-error': !product.pname.$pristine && product.pname.$error.required }">
                    <p>
                        <label>Product Name : </label>
                        <input type="text" name="pname" ng-model="voucher.pname" required>
                    </p>
                    <div ng-messages="product.pname.$error" ng-if="!product.pname.$pristine && product.pname.$error.required && product.pname.$invalid">
                        <span ng-messages-include="error/error.html"></span>
                    </div>
                </div>
                <div ng-class="{ 'has-error': !product.description.$pristine && product.description.$error.required }">
                    <p>
                        <label>Description : </label>
                        <input type="text" name="description" ng-model="voucher.description" required>
                    </p>
                    <div ng-messages="product.description.$error" ng-if="!product.description.$pristine && product.description.$error.required && product.description.$invalid">
                        <div ng-messages-include="error/error.html"></div>
                    </div>
                </div>
                <div ng-class="{ 'has-error': !product.credits.$pristine && product.credits.$error.required }">
                    <p>
                        <label>Credits : </label>
                        <input type="number" name="credits" ng-model="voucher.credits"  required>
                    </p>
                    <div ng-messages="product.credits.$error" ng-if="!product.credits.$pristine && product.credits.$error.required && product.credits.$invalid">
                        <div ng-messages-include="error/error.html"></div>
                    </div>
                </div>
                <div ng-class="{ 'has-error': !product.cvfd.$pristine && product.cvfd.$error.required }">
                    <p>
                        <label>Credits valid for days : </label>
                        <input type="number" name="cvfd" ng-model="voucher.cvfd" required>
                    </p>
                    <div ng-messages="product.cvfd.$error" ng-if="!product.cvfd.$pristine && product.cvfd.$error.required && product.cvfd.$invalid">
                        <div ng-messages-include="error/error.html"></div>
                    </div>
                </div>
                <div ng-class="{ 'has-error': !product.availablefor.$pristine && product.availablefor.$error.required }">
                    <p>
                        <label>Available For : </label>
                        <input type="text" name="availablefor" ng-model="voucher.availablefor" required>
                    </p>
                    <div ng-messages="product.availablefor.$error" ng-if="!product.availablefor.$pristine && product.availablefor.$error.required && product.availablefor.$invalid">
                        <div ng-messages-include="error/error.html"></div>
                    </div>
                </div>
                <div ng-class="{ 'has-error': !product.code.$pristine && product.code.$error.required }">
                    <p>
                        <label>Code : </label>
                        <input type="text" name="code" ng-model="voucher.code"  readonly required>
                    </p>
                    <div ng-messages="product.code.$error" ng-if="!product.code.$pristine && product.code.$error.required && product.code.$invalid">
                        <div ng-messages-include="error/error.html"></div>
                    </div>
                </div>
                <div ng-class="{ 'has-error': !product.codemajor.$pristine && product.codemajor.$error.required }">
                    <p>
                        <label>Code Major : </label>
                        <input type="text" name="codemajor" ng-model="voucher.codemajor" required>
                    </p>
                    <div ng-messages="product.codemajor.$error" ng-if="!product.codemajor.$pristine && product.codemajor.$error.required && product.codemajor.$invalid">
                        <div ng-messages-include="error/error.html"></div>
                    </div>
                </div>
                <div ng-class="{ 'has-error': !product.codeminor.$pristine && product.codeminor.$error.required }">
                    <p>
                        <label>Code Minor : </label>
                        <input type="text" name="codeminor" ng-model="voucher.codeminor" required>
                    </p>
                    <div ng-messages="product.codeminor.$error" ng-if="!product.codeminor.$pristine && product.codeminor.$error.required && product.codeminor.$invalid">
                        <div ng-messages-include="error/error.html"></div>
                    </div>
                </div>
                <div ng-class="{ 'has-error': !product.usagecount.$pristine && product.usagecount.$error.required }">
                    <p>
                        <label>Usage Count : </label>
                        <input type="text" name="usagecount" ng-model="voucher.usagecount" required>
                    </p>
                    <div ng-messages="product.usagecount.$error" ng-if="!product.usagecount.$pristine && product.usagecount.$error.required && product.usagecount.$invalid">
                        <div ng-messages-include="error/error.html"></div>
                    </div>
                </div>
                <div>
                    <p>
                        <button type="submit" ng-disabled="product.$invalid && product.$dirty">Submit</button>
                    </p>
                </div>
            </form>
        </div>
    </body>
</html>