<!DOCTYPE html>
<html>
    <head>
        <title>Referral code</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
         
    </head>
    <body>
        <div ng-include = "'views/profile/profile.view.html'"></div><br>
        <div>Total user show our referral Code = {{count }}</div><br>
        <div>
            <table id="t01">
                <tr>
                    <th>User Id</th>
                    <th>referral code</th>
                    <th>Created</th>
                </tr>
                <tr ng-repeat=" rc in referralcodes ">
                   <td ng-click="getProfiles(rc.userid)">{{ rc.userid}}</td>
                    <td>{{ rc.referralcode}}</td>
                    <td>{{ rc.created }}</td>
                </tr>
            </table>
        </div><br>
        <ul ng-if=" pager.pages.length" class="pagination">
            <li ng-class="{disabled:pager.currentPage === 1}">
                <a ng-click=" setPage(1)">First</a>
            </li>
            <li ng-class="{disabled:pager.currentPage === 1}">
                <a ng-click="setPage(pager.currentPage - 1)">Previous</a>
            </li>
            <li ng-repeat="page in  pager.pages" ng-class="{active: pager.currentPage === page}">
                <a ng-click=" setPage(page)">{{page}}</a>
            </li>                
            <li ng-class="{disabled: pager.currentPage ===  pager.totalPages}">
                <a ng-click=" setPage( pager.currentPage + 1)">Next</a>
            </li>
            <li ng-class="{disabled: pager.currentPage ===  pager.totalPages}">
                <a ng-click=" setPage( pager.totalPages)">Last</a>
            </li>
        </ul>
    </body>
</html>