<!DOCTYPE html>
<html>
    <head>
        <title>Purchased User</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="css/allCSS.css">
    </head>
    <body>
        <div ng-include = "'views/profile/profile.view.html'"></div><br>
        <div>Total user purchased = {{count }}</div><br>
        <div>
            <table id="t01">
                <tr>
                    <th>User Id</th>
                    <th>Product Identifier</th>
                    <th>Platform</th>
                    <th>Created</th>
                </tr>
                <tr ng-repeat=" product in products ">
                   <td ng-click="getProfiles(product.userid)">{{ product.userid}}</td>
                    <td>{{ product.productidentifier}}</td>
                    <td>{{ product.platform }}</td>
                    <td>{{ product.created }}</td>
                </tr>
            </table>
        </div><br>
    </body>
</html>