<!DOCTYPE html>
<html>
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="css/allCSS.css">
    </head>
    <body>
        <div ng-include = "'views/profile/profile.view.html'"></div><br>
        <div>
            <p style="align-content: center">
                <button type="submit" ng-click="addPromoProduct()">Add Promo</button>
            </p>
        </div><br>
        <div>
            <div>Total promo product available = {{count }}</div><br>
            <table id="t01">
                <tr>
                    <th>Product Identifier</th>
                    <th>Name</th>
                    <th>Description</th>
                    <th>Credits</th>
                    <th>CVFD</th>
                    <th>Code</th>
                    <th>Available for</th>
                    <th>Usage Count</th>
                    <th>Created</th>
                    <th>Expired</th>
                    <th>Update</th>
                    <th>Delete</th>
     
                </tr>
                <tr ng-repeat=" promo in products ">
                    <td>{{ promo.productidentifier}}</td>
                    <td>{{ promo.name}}</td>
                    <td>{{ promo.description }}</td>
                    <td>{{ promo.credits }}</td>
                    <td>{{ promo.creditsvalidfordays }}</td>
                    <td>{{ promo.code }}</td>
                    <td>{{ promo.availablefor }}</td>
                    <td>{{ promo.usagecount }}</td>
                    <td>{{ promo.created }}</td>
                    <td>{{ promo.expired }}</td>
                    <td><button type="submit" ng-click="updatePromoProduct(promo.productidentifier)">up</button></td>
                    <td><button type="submit" ng-click="deletePromoProduct(promo.productidentifier)">de</button></td>
                </tr>
            </table>
        </div><br>
    </body>
</html>
